@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

/* You can add your custom css below this line */

:root {
  font-family: "Nunito", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: theme("colors.light");
  background-color: theme("colors.dark");
  @media (min-width: 1024px) {
    background-image: url("/images/bkg-01.png");
    background-size: cover;
    background-position: top;
  }
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
